/bin/
/.cache-main
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.class
.lib/
.classpath
/.bsp
/.settings
.classpath
/output.wav
/org.eclipse.core.resources.prefs
